* {
    margin: 0;
    padding: 0;
    font-family: "Monocraft";
}

html, body {
    min-width: 100vw;
    min-height: 100vh;
}

body {
    position: relative;
    background-color: orange;

    display: flex;
    justify-content: center;
    align-items: center;
}

#timer-wrapper {
    position: absolute;
    top: 100px;
    right: 50%;
    transform: translate(50%);

    font-size: 32px;
}

#timer-wrapper span {
    color: red;
}

#menu-button-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    padding: 16px 12px;
}

#menu-button-wrapper a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: grey;
}

#game-wrapper {
    position: relative;

    background-color: rgba(255, 255, 255, 0.65);
    border-radius: 15px;
    width: 600px;
    height: 350px;
    box-shadow: 1px 2px 3px 4px rgba(0, 0, 0, 0.2);
}

#game-wrapper #score-wrapper {
    position: absolute;
    right: 0;

    text-align: right;
    padding: 5px 10px;
}

#score-wrapper #added-score {
    font-size: 12px;
    color: rgba(0, 185, 0, 0.65);

    opacity: 0;
    transform: translateY(-5px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

#score-wrapper #added-score.visible {
    opacity: 1;
    transform: translateY(0);
}

#game-wrapper #main-text {
    width: 90%;
    text-align: center;
    font-size: 24px;

    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%);
}

#game-wrapper span {
    color: orangered;
}

#game-wrapper input {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 300px;
    height: 30px;
    border: none;
    border-radius: 30px;

    padding: 0 10px;
    font-size: 16px;
}

#game-wrapper #copywright-text {
    position: absolute;
    left: 50%;
    bottom: 0;
    padding: 5px 0;
    transform: translate(-50%);

    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

#copywright-text #author-name {
    color: black;
}