* {
    margin: 0;
    padding: 0;
    font-family: "JetBrains Mono";
    font-weight: 600;
}

html,
body {
    min-width: 100vw;
    min-height: 100vh;
}

body {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: gray;
}

#switch-page {
    position: absolute;
    top: 0;
    left: 0;
    padding: 16px 12px;
}

#switch-page a {
    text-decoration: none;
    color: black;
    padding: 6px 20px;
    border: none;
    border-radius: 20px;
    background-color: orange;
}

#switch-page a:hover {
    cursor: pointer;
    background-color: rgb(220, 106, 0);
    color: white;
}

#signup-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;

    width: 500px;
    height: 300px;
    background-color: orange;
    border-radius: 15px;
}

#signup-wrapper #signup-text {
    position: absolute;
    top: 0;
    left: 0;
    color: white;

    font-size: 24px;
    font-weight: bold;
    padding: 15px 20px;
}

#signup-wrapper #submission-form {
    width: 100%;
    height: 80%;
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#submission-form input {
    border: none;
    border-radius: 30px;
    width: 50%;
    height: 30px;
    padding: 0 5px;
    outline: none;
    padding: 0 10px;
}

#submission-form .password-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;

    position: relative;
}

.password-wrapper button {
    position: absolute;
    top: 5px;
    right: 80px;

    border: none;
    background-color: transparent;
    text-decoration: underline;
}

.password-wrapper button:hover {
    cursor: pointer;
}

#signup-wrapper #submit {
    border: none;
    border-radius: 5px;
    padding: 5px 60px;

    background-color: white;
    font-size: 18px;
}

#signup-wrapper #submit:hover {
    cursor: pointer;
}